@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  margin: 0;
  color: #fff;
}
h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 25px;
}
h3 {
  font-size: 18px;
  margin: 0 0 15px;
  font-weight: bold;
}
p {
  margin: 0;
  font-size: 18px;
}
a {
  color: #276EF1;
  text-decoration: none;
}
#travel .nav-travel {
  color: #03A9F4;
}
#viceversa .nav-viceversa {
  color: #FFC107;
}
#advertising .nav-advertising {
  color: #9C27B0;
}
#manioc .nav-manioc {
  color: #4CAF50;
}
@media only screen and (max-width: 1015px) {
  h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  p {
    font-size: 16px;
  }
}
label {
  position: absolute;
  padding: 0 10px;
  transform: translate(0, 16px) scale(1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #000;
}
.float-container.active label {
  transform: translate(0, 4px);
  font-size: 12px;
  color: #F44336;
}
.btn {
  cursor: pointer;
  background-color: #fff;
  border: solid #276EF1 2px;
  border-radius: 30px;
  padding: 17px 34px;
  color: #276EF1;
  width: max-content;
  float: right;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn:hover {
  background-color: #276EF1;
  color: #fff;
}
@media screen and (max-width: 830px) {
  .index-services .index-service .btn {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
  }
}
.nav {
  position: relative;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-logo {
  margin-left: 2%;
  height: 60px;
  align-items: center;
}
.nav .nav-logo img {
  height: 100%;
}
.nav .nav-sections {
  display: flex;
  width: 80%;
  justify-content: space-around;
  height: 100%;
  cursor: pointer;
  justify-content: flex-end;
}
.nav .nav-sections .nav-travel .line {
  background-color: #03A9F4;
}
.nav .nav-sections .nav-advertising .line {
  background-color: #9C27B0;
}
.nav .nav-sections .nav-viceversa .line {
  background-color: #FFC107;
}
.nav .nav-sections .nav-manioc .line {
  background-color: #4CAF50;
}
.nav .nav-sections .nav-travel:hover {
  color: #03A9F4;
}
.nav .nav-sections .nav-travel:hover .line {
  background-color: #03A9F4;
}
.nav .nav-sections .nav-advertising:hover {
  color: #9C27B0;
}
.nav .nav-sections .nav-advertising:hover .line {
  background-color: #9C27B0;
}
.nav .nav-sections .nav-viceversa:hover {
  color: #FFC107;
}
.nav .nav-sections .nav-viceversa:hover .line {
  background-color: #FFC107;
}
.nav .nav-sections .nav-manioc:hover {
  color: #4CAF50;
}
.nav .nav-sections .nav-manioc:hover .line {
  background-color: #4CAF50;
}
.nav .nav-sections .nav-section {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding: 0 20px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  min-width: 150px;
  justify-content: space-between;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
}
.nav .nav-sections .nav-section .text {
  padding-top: 30px;
}
.nav .nav-sections .nav-section .subtext {
  color: #9E9E9E;
  font-size: 12px;
  font-weight: normal!important;
  text-align: center;
}
.nav .nav-sections .nav-section .line {
  height: 5px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav .nav-languages {
  margin-right: 2%;
  height: 90%;
  font-weight: bold;
  font-size: 12px;
  align-items: center;
  padding-left: 20px;
  border-left: solid 1px;
  height: 30px;
  cursor: pointer;
}
.nav .nav-languages :first-child {
  margin-right: 10px;
}
.nav .nav-languages .arrow {
  width: 14px;
  transform: rotate(90deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav .nav-languages .arrow.active {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.nav .lang-dropdown {
  border-radius: 10px;
  border-top: solid 1px #979797;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 100px;
  min-width: 200px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav .lang-dropdown div {
  display: inline;
}
.nav .nav-languages a {
  cursor: pointer;
  color: #9E9E9E;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav .nav-languages a:first-child {
  padding-right: 15px;
}
.nav .nav-languages a:active,
.nav .nav-languages a:hover {
  color: #F44336;
}
.desktop {
  display: block;
}
.desktop-flex {
  display: flex;
}
.mobile {
  display: none;
}
.mobile-flex {
  display: none;
}
@media screen and (max-width: 1265px) {
  .nav .nav-sections .nav-section {
    min-width: 80px;
  }
  .nav .nav-sections .nav-section .text {
    padding-top: 26px;
  }
  .nav .nav-sections .nav-section .subtext {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 1015px) {
  .nav .nav-sections .nav-section {
    line-height: initial;
  }
  .nav .nav-sections .nav-section .text {
    height: 35px;
  }
  .nav .nav-logo img {
    height: 80%;
  }
  .with-sidebar .site-container {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
  }
  .flex-mobile {
    display: flex;
  }
  .container {
    margin: 25px 10%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile-flex {
    display: flex;
  }
  .nav-icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
    margin-left: 2%;
  }
  .nav-icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px #000, 0 16px 0 1px #000, 0 22px 0 1px #000;
  }
  .nav {
    height: 70px;
  }
  .nav .nav-logo {
    height: 40px;
    margin-right: 5%;
    align-items: center;
  }
  .nav .nav-sections {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    flex-direction: column;
    transform: translate(-100%, 0);
    justify-content: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    /*    overflow-y: scroll;
-webkit-overflow-scrolling: touch;*/
  }
  .nav .nav-sections .nav-section {
    height: 25%;
    color: #fff;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .nav .nav-sections .nav-section .line {
    display: none;
  }
  .nav .nav-sections a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  .nav .nav-sections .nav-languages {
    height: 100px;
    border-top: solid 1px #000;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  .nav .nav-sections .nav-languages .nav-languages-wrap {
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .nav .nav-sections .nav-languages .nav-languages-wrap img {
    width: 30px;
  }
  .nav .nav-sections .nav-languages a {
    color: #fff;
    font-size: 12px;
    width: 50%;
    border: none;
  }
  .nav .nav-sections .nav-travel {
    color: #000;
  }
  .nav .nav-sections .nav-travel .line {
    background-color: #0288D1;
  }
  .nav .nav-sections .nav-advertising {
    color: #000;
  }
  .nav .nav-sections .nav-advertising .line {
    background-color: #7B1FA2;
  }
  .nav .nav-sections .nav-viceversa {
    color: #000;
  }
  .nav .nav-sections .nav-viceversa .line {
    background-color: #FFC107;
  }
  .nav .nav-sections .nav-manioc {
    color: #000;
  }
  .nav .nav-sections .nav-manioc .line {
    background-color: #388E3C;
  }
  .with-sidebar .site-pusher {
    transform: translate(80%, 0);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .with-sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.footer {
  padding: 50px 5%;
  color: #fff;
  background-color: #F44336;
}
.footer .footer-sections {
  display: flex;
  justify-content: space-between;
}
.footer .footer-sections input:focus,
.footer .footer-sections input:hover,
.footer .footer-sections textarea:focus,
.footer .footer-sections textarea:hover {
  outline: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.footer .footer-sections input {
  height: 56px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 0 10px;
}
.footer .footer-sections textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 18px 10px;
}
.footer .footer-sections p {
  width: 100%;
}
.footer .footer-sections .agency,
.footer .footer-sections .social {
  flex: 25%;
}
.footer .footer-sections .agency .agency-address {
  margin-bottom: 15px;
}
.footer .footer-sections .contact {
  flex: 50%;
  margin-right: 20px;
}
.footer .footer-sections .contact .contact-submit {
  display: flex;
  margin-top: 20px;
}
.footer .footer-sections .contact .contact-submit .btn-footer {
  width: 50%;
  background: none;
  border: solid 3px;
  border-radius: 5px;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.footer .footer-sections .contact .contact-submit .btn-footer:hover {
  background-color: #fff;
  color: #F44336;
}
.footer .footer-sections .contact .contact-submit .text {
  text-align: right;
  font-size: 14px;
}
.footer .footer-sections .contact-infos {
  display: flex;
  margin-bottom: 20px;
}
.footer .footer-sections .contact-infos .name {
  margin-right: 40px;
  width: 100%;
}
.footer .footer-sections .contact-infos .email {
  width: 100%;
}
.footer .footer-sections .social {
  text-align: right;
}
@media screen and (max-width: 1054px) {
  .nav .nav-logo img {
    height: 80%;
  }
}
@media screen and (max-width: 830px) {
  .desktop-flex {
    display: none;
  }
  h2 {
    font-size: 26px;
  }
  h1 {
    font-size: 26px;
  }
  h3 {
    font-size: 16px;
    font-weight: normal;
  }
  .nav .nav-logo img {
    height: 100%;
  }
  .footer {
    padding: 25px 5%;
  }
  .footer .footer-sections {
    flex-direction: column;
  }
  .footer .footer-sections .contact {
    margin-bottom: 25px;
  }
  .footer .footer-sections .contact .contact-submit {
    margin: 0;
  }
  .footer .footer-sections .contact .contact-submit .btn-footer {
    height: 40px;
    width: 100%;
    margin-top: 20px;
  }
  .footer .footer-sections .agency {
    font-size: 14px;
  }
  .footer .footer-sections .agency .agency-address {
    font-size: 14px;
  }
  .footer .footer-sections .contact-infos {
    display: block;
    margin-bottom: 10px;
  }
  .footer .footer-sections .contact-infos .name {
    margin-bottom: 10px;
  }
}
