@charset "UTF-8"; // MAIN

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.container () {
	margin: 50px 10%;
}

h1 {
	margin: 0;
	color: #fff;
}

h2 {
	font-weight: bold;
	font-size: 24px;
	margin: 0 0 25px;
}

h3 {
	font-size: 18px;
	margin: 0 0 15px;
	font-weight: bold;
}

p {
	margin: 0;
	font-size: 18px;
}

a {
	color: #276EF1;
	text-decoration: none;
}

#travel {
	.nav-travel {
		color: @blue;
	}
}

#viceversa {
	.nav-viceversa {
		color: #FFC107;
	}
}

#advertising {
	.nav-advertising {
		color: #9C27B0;
	}
}

#manioc {
	.nav-manioc {
		color: #4CAF50;
	}
}
@media only screen and (max-width: 1015px) {

	h2 {
		font-size: 18px;
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
	}
}

.shadow-main () {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.transition-main () {
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.red-main () {
	background-color:;
}
@red: #F44336;
@blue: #03A9F4;
@blue-dark: #0288D1;
@brown-bg: #BCAAA4;
@nav-sections-width: 250px;

label {
	position: absolute;
	padding: 0 10px;
	transform: translate(0, 16px) scale(1);
	.transition-main ();
	color: #000;
}

.float-container.active label {
	transform: translate(0, 4px);
	font-size: 12px;
	color: #F44336;
}

.btn {
	cursor: pointer;
	background-color: #fff;
	border: solid #276EF1 2px;
	border-radius: 30px;
	padding: 17px 34px;
	color: #276EF1;
	width: max-content;
	float: right;
	.transition-main ();
	&:hover {
		background-color: #276EF1;
		color: #fff;

	}
}

@media screen and (max-width: 830px) {
	.index-services .index-service .btn {
		display: flex;
width: -webkit-fill-available;
justify-content: center;
	}
}
//START MAIN NAV

.nav {
	position: relative;
	width: 100%;
	height: 100px;
	.shadow-main ();
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav-logo {
		margin-left: 2%;
		height: 60px;
		align-items: center;

		img {
			height: 100%;
		}
	}

	.nav-sections {
		display: flex;
		width: 80%;
		justify-content: space-around;
		height: 100%;
		cursor: pointer;
		justify-content: flex-end;

		.nav-travel {
			.line {
				background-color: #03A9F4;
			}
		}

		.nav-advertising {
			.line {
				background-color: #9C27B0;
			}
		}

		.nav-viceversa {
			.line {
				background-color: #FFC107;
			}
		}

		.nav-manioc {
			.line {
				background-color: #4CAF50;
			}
		}

		.nav-travel:hover {
			color: #03A9F4;

			.line {
				background-color: #03A9F4;
			}
		}

		.nav-advertising:hover {
			color: #9C27B0;

			.line {
				background-color: #9C27B0;
			}
		}

		.nav-viceversa:hover {
			color: #FFC107;

			.line {
				background-color: #FFC107;
			}
		}

		.nav-manioc:hover {
			color: #4CAF50;

			.line {
				background-color: #4CAF50;
			}
		}

		.nav-section {
			font-size: 13px;
			font-weight: bold;
			text-align: center;
			padding: 0 20px;
			color: #000;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			flex-direction: column;
			min-width: 150px;
			justify-content: space-between;
			.transition-main ();
			text-decoration: none;
			//margin-bottom: 100px;
			.nav-section-wrap {
				//padding-top: 30px;
			}

			.text {
				padding-top: 30px;
			}

			.subtext {
				color: #9E9E9E;
				font-size: 12px;
				font-weight: normal!important;
				text-align: center;
			}

			.line {
				height: 5px;
				width: 100%;
				background-color: #fff;
				.transition-main ();
			}
		}
	}

	.nav-languages {
		margin-right: 2%;
		height: 90%;
		font-weight: bold;
		font-size: 12px;
		align-items: center;
		padding-left: 20px;
		border-left: solid 1px;
		height: 30px;
		cursor: pointer;
		:first-child {
			margin-right: 10px;
		}


		.arrow {
			width: 14px;
			transform: rotate(90deg);
			.transition-main ();
		}

		.arrow.active {
			-webkit-transform: rotate(270deg);
			-ms-transform: rotate(270deg);
			transform: rotate(270deg);
		}
	}

	.lang-dropdown {
		border-radius: 10px;
		border-top: solid 1px #979797;
		background-color: #fff;
		padding: 20px;
		position: absolute;
		right: 0;
		top: 100px;
		min-width: 200px;
		min-height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		div {
			display: inline;
		}
	}

	.nav-languages a {
		cursor: pointer;
		color: #9E9E9E;
		.transition-main ();
	}

	.nav-languages a:first-child {
		padding-right: 15px;
	}

	.nav-languages a:active,
	.nav-languages a:hover {
		color: #F44336;
	}
}

.desktop {
	display: block;
}

.desktop-flex {
	display: flex;
}

.mobile {
	display: none;
}
.mobile-flex {
	display: none;
}
@media screen and (max-width: 1265px) {
	.nav .nav-sections .nav-section {
		min-width: 80px;
	}

	.nav .nav-sections .nav-section .text {
		padding-top: 26px;
	}

	.nav .nav-sections .nav-section .subtext {
		padding-bottom: 15px;
	}
}
@media screen and (max-width: 1015px) {

	.nav .nav-sections {
		.nav-section {
			line-height: initial;

			.text {
				height: 35px;
			}
		}
	}

	.nav .nav-logo img {
		height: 80%;
	}

	.nav-languages {}

	.with-sidebar {
		.site-container {
			width: 100vw;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			overflow: hidden;
		}
	}

	.flex-mobile {
		display: flex;
	}

	.container {
		margin: 25px 10%;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.mobile-flex {
		display: flex;
	}

	.nav-icon {
		position: relative;
		display: block;
		float: left;
		width: 50px;
		height: 66px;
		cursor: pointer;
		margin-left: 2%;

		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 1rem;
			height: 0;
			top: 16px;
			left: 15px;
			box-shadow: 0 10px 0 1px #000, 0 16px 0 1px #000, 0 22px 0 1px #000;
		}
	}

	.nav {
		height: 70px;

		.nav-logo {
			height: 40px;
			margin-right: 5%;
			align-items: center;
		}

		.nav-sections {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			background-color: #fff;
			z-index: 100;
			flex-direction: column;
			transform: translate(-100%, 0);
			justify-content: center;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			/*    overflow-y: scroll;
-webkit-overflow-scrolling: touch;*/
			.nav-section {
				height: 25%;
				color: #fff;
				margin: 0;
				justify-content: center;
				align-items: center;

				.line {
					display: none;
				}
			}

			a {
				display: block;
				height: 40px;
				text-align: center;
				line-height: 40px;
			}

			.nav-languages {
				height: 100px;
				border-top: solid 1px #000;
				color: #fff;
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 20px;

				.nav-languages-wrap {
					height: 56px;
					width: 56px;
					display: flex;
					justify-content: center;
					width: 100%;

					img {
						width: 30px;
					}
				}

				a {
					color: #fff;
					font-size: 12px;
					width: 50%;
					border: none;
				}
			}

			.nav-travel {
				color: #000;
				//color: #0288D1;
				.line {
					background-color: #0288D1;
				}
			}

			.nav-advertising {
				color: #000;
				//color: #7B1FA2;
				.line {
					background-color: #7B1FA2;
				}
			}

			.nav-viceversa {
				color: #000;
				//color: #FFC107;
				.line {
					background-color: #FFC107;
				}
			}

			.nav-manioc {
				//color: #388E3C;
				color: #000;

				.line {
					background-color: #388E3C;
				}
			}
		}
	}

	.with-sidebar {
		.site-pusher {
			transform: translate(80%, 0);
			.transition-main ();
		}

		.site-cache {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.6);
		}
	}
}
//END NAV
//END MAIN
//START FOOTER

.footer {
	padding: 50px 5%;
	color: #fff;
	background-color: @red;

	.footer-sections {
		display: flex;
		justify-content: space-between;

		input:focus,
		input:hover,
		textarea:focus,
		textarea:hover {
			outline: none;
			.shadow-main ();
		}

		input {
			height: 56px;
			width: 100%;
			border-radius: 5px;
			border: none;
			font-size: 16px;
			.transition-main ();
			padding: 0 10px;
		}

		textarea {
			width: 100%;
			border-radius: 5px;
			border: none;
			font-size: 16px;
			.transition-main ();
			padding: 18px 10px;
		}

		p {
			width: 100%;
		}

		.agency,
		.social {
			flex: 25%;
		}

		.agency {
			.agency-address {
				margin-bottom: 15px;
			}
		}

		.contact {
			flex: 50%;
			margin-right: 20px;

			.contact-submit {
				display: flex;
				margin-top: 20px;

				.btn-footer {
					width: 50%;
					background: none;
					border: solid 3px;
					border-radius: 5px;
					border-color: #fff;
					color: #fff;
					font-weight: bold;
					font-size: 14px;
					.transition-main ();

					&:hover {
						background-color: #fff;
						color: @red;
					}
				}

				.text {
					text-align: right;
					font-size: 14px;
				}
			}
		}

		.contact-infos {
			display: flex;
			margin-bottom: 20px;

			.name {
				margin-right: 40px;
				width: 100%;
			}

			.email {
				width: 100%;
			}
		}

		.social {
			text-align: right;
		}
	}
}
@media screen and (max-width: 1054px) {
	.nav .nav-logo img {
		height: 80%;
	}
}
@media screen and (max-width: 830px) {
	.desktop-flex {
		display: none;
	}
	h2 {
		font-size: 26px;
	}

	h1 {
		font-size: 26px;
	}


	h3 {
		font-size: 16px;
		font-weight: normal;
	}
	.nav .nav-logo img {
		height: 100%;
	}
	.footer {
		padding: 25px 5%;

		.footer-sections {
			flex-direction: column;

			.contact {
				margin-bottom: 25px;

				.contact-submit {
					margin: 0;

					.btn-footer {
						height: 40px;
						width: 100%;
						margin-top: 20px;
					}
				}
			}

			.agency {
				font-size: 14px;

				.agency-address {
					font-size: 14px;
				}
			}

			.contact-infos {
				display: block;
				margin-bottom: 10px;

				.name {
					margin-bottom: 10px;
				}
			}
		}
	}
}
