@charset "UTF-8";
.header {
  height: 400px;
  display: flex;
  background-color: #BCAAA4;
}
.header .header-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 40px;
  margin-right: 115px;
}
.header .header-text p {
  background-color: #03A9F4;
  margin: 0;
  padding: 8px 30px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  width: max-content;
  height: max-content;
  margin-bottom: 10px;
}
.title {
  height: 200px;
  background-color: #0288D1;
  color: #fff;
  display: flex;
}
.title h1 {
  font-size: 26px;
}
.title p {
  font-size: 18px;
}
.title .title-warp {
  margin: 50px 10%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content {
  position: relative;
  top: -120px;
  background-color: #fff;
  margin: 50px 10%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 40px;
}
.content .content-icons {
  height: 100px;
}
